# Introduction and Schema Diagram

We'll be working on the [Chinook](https://github.com/lerocha/chinook-database) database which represents a digital media store, including tables for artists, albums, media tracks, invoices and customers. The data is taken from using real data from an iTunes library, and was obtained through github repository. We'll use the data to answer some business questions such as:

- What albums to purchase?
- How are employee sales doing?
- Which countries are purchasing from Chinook?
-  Are albums puchases or individual track purchases better?

# Overview of the data

Below we'll load in the chinook data base. A database schema will also be provided to show the different relationships the database has.

In [1]:
#loading into chinook data base

In [2]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [3]:
#checking list of all tables and views in the data base

In [4]:
%%sql
SELECT name, type
FROM sqlite_master
WHERE type in ('table', 'view');

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

The database schema that is correlated with the tables above is: ![Chinook Schema](https://s3.amazonaws.com/dq-content/191/chinook-schema.svg)

The schema shows the different columns available within each table as well as the relation the different 11 tables have with each other.

# Selecting Albums to Purchase

The Chinook record store just signed a deal with a new record label, and we need to select the first three albums that will be added to the store. The artists four albums that can be selected, do not have any tracks in the store currently.The albums that can be selected are: 

| Artist Name | Genre |
| --- | --- |
|Regal |Hip Hop |
|Red Tone |Punk |
|Meteor and the Girls |Pop |
|Slim Jim Bites |Blues |

 The record label specializes in signing artists from teh US, so they have given Chinook some money to advertise the new albums in the US. Our task is to find out which genres sell the best in the US.

In [5]:
#finding number of tracks sold and revenue generated by genre in USA

In [17]:
%%sql
WITH usa_total_sales AS 
(
    SELECT SUM(il.quantity) total_sales
    FROM invoice_line il
    INNER JOIN invoice i ON i.invoice_id = il.invoice_id
    WHERE i.billing_country = 'USA'
) 

SELECT 
    g.name genre,
    ROUND(SUM(i.total),2) revenue,
    SUM(il.quantity) num_sold,
    ROUND((SUM(il.quantity) * 100.0 /
    (
        SELECT total_sales
        FROM usa_total_sales
    )
    ),2) percent_sold
    
FROM invoice i
INNER JOIN invoice_line il ON il.invoice_id = i.invoice_id
INNER JOIN track t ON t.track_id = il.track_id
INNER JOIN genre g ON g.genre_id = t.genre_id
WHERE i.billing_country = 'USA'
GROUP BY 1
ORDER BY 2 DESC

Done.

[('Rock', 5568.75, 561, 53.38),
 ('Alternative & Punk', 1234.53, 130, 12.37),
 ('Metal', 1025.64, 124, 11.8),
 ('R&B/Soul', 633.6, 53, 5.04),
 ('Blues', 453.42, 36, 3.43),
 ('Alternative', 369.27, 35, 3.33),
 ('Hip Hop/Rap', 366.3, 20, 1.9),
 ('Pop', 201.96, 22, 2.09),
 ('Latin', 162.36, 22, 2.09),
 ('Jazz', 125.73, 14, 1.33),
 ('Easy Listening', 95.04, 13, 1.24),
 ('Reggae', 51.48, 6, 0.57),
 ('Electronica/Dance', 34.65, 5, 0.48),
 ('Heavy Metal', 30.69, 3, 0.29),
 ('Classical', 21.78, 4, 0.38),
 ('Soundtrack', 20.79, 2, 0.19),
 ('TV Shows', 9.9, 1, 0.1)]

From the results above, we can see Rock, Alternative & Punk, and Metal are the three leading genres that sell the most tracks. We only have 1 album within the top 3 genres which is Punk, and even then its split between Alternative and Punk. If we assume that Alternative & Punk are split 50-50 then the number of tracks sold and revenue are still higher than the other three options. Then Blues would come in second, and we have to decide between Pop and Hip-Hop. When we look at the remaining two genres, the genres are close in sales numbers (Pop being slightly ahead), but Hip-Hop makes more revenue. Taking revenue as a more important indicator, this concludes that the three albums we can look to promote are from the artists Regal, Red Tone, and Slim Jim Bites.

# Analyzing Employee Sales Performance

For each customer, the Chinook store assigns a sales support agent within the company when they make the customer makes their first purchase. We want to see how well the sales support agents are performing and if some are doing better than others.

In [7]:
#Finding the total dollar amount of sales assigned to each sales support agent

In [21]:
%%sql
SELECT
    e.first_name || " " || e.last_name employee_name,
    e.employee_id,
    e.country,
    e.state,
    e.city,
    e.hire_date,
    COUNT(c.customer_id) total_customers,
    ROUND(TOTAL(i.total),2) total_sales
FROM employee e 
INNER JOIN customer c ON c.support_rep_id = e.employee_id
INNER JOIN invoice i ON i.customer_id = c.customer_id
WHERE e.title = 'Sales Support Agent'
GROUP BY 1
ORDER BY 8 DESC

Done.

[('Jane Peacock', 3, 'Canada', 'AB', 'Calgary', '2017-04-01 00:00:00', 212, 1731.51),
 ('Margaret Park', 4, 'Canada', 'AB', 'Calgary', '2017-05-03 00:00:00', 214, 1584.0),
 ('Steve Johnson', 5, 'Canada', 'AB', 'Calgary', '2017-10-17 00:00:00', 188, 1393.92)]

From the results above, there are only three employees with the title 'Sales Support Agent'. Each have similar values in total sales with the lowest being around \\$1393.92 dollars and the highest being \$1731.51. This can be a result from the hire date, as those who have been hired earlier could have more customers or customers for longer to contribute to their total sales number. As we can see from the table above, Jane has the highest total sales and was the first hired sales support agent, while Steve is the opposite.Margaret has more customers, but has only 2 more customers. We can infer that Jane's customer has purchased more tracks than Margaret, but the overall performance is relatively the same/expected based on our deduction.

# Analyzing Sales by Country

The next task is to analyze the sales data for customers from different countries. We will focus only on the country value from the `customers` table and not the country from the billing addresses in the `invoice` table. For each country we want:

- total number of customers
- total value of sales
- average value of sales per custoemr
- average order value

We'll create a "Others" group where countries that only show up once will be placed in.

In [9]:
#finding number of customers and sales from each country, groupoing countries with value '1' into 'Other'

In [10]:
%%sql
WITH country_filter AS (
    SELECT
        country,
        CASE
            WHEN
                COUNT(DISTINCT customer_id) = 1 THEN 'Other'
            ELSE
                country
        END AS other_country
    FROM customer 
    GROUP BY country
)

SELECT 
    cf.other_country Country,
    COUNT(DISTINCT c.customer_id) customers,
    ROUND(SUM (i.total), 2) total_sales_value,
    ROUND(SUM(i.total)/COUNT(DISTINCT c.customer_id),2) avg_per_customer,
    ROUND(SUM(i.total)/COUNT(DISTINCT i.invoice_id),2) avg_order
FROM country_filter cf
INNER JOIN customer c ON c.country = cf.country
INNER JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY 1
ORDER BY cf.other_country = 'Other'

Done.

[('Brazil', 5, 427.68, 85.54, 7.01),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.66, 8.16),
 ('India', 2, 183.15, 91.57, 8.72),
 ('Portugal', 2, 185.13, 92.57, 6.38),
 ('USA', 13, 1040.49, 80.04, 7.94),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Other', 15, 1094.94, 73.0, 7.45)]

From the values, we can see that while the most sales in the category of 'Other', USA is the single country that has the most sales. Its interesting to see that the Czech Republic customers spend the most, although there are only two customers from that country. The lowest average sale is from Canada, maybe because of import/export fees. Portugal has the lowest average order, but the second highest average in sales per customer. From this information we can conclude that the USA is the correct market we are focusing on, but with more research we can look at other potential countries to expand the business in.

# Albums vs Individual Tracks

How the Chinook store is currently set up, customers can either purchase whole albums or a collection of one or more individual tracks. The store does not allow customers to purchase albums and then add individual tracks to that same purchase (unless they do that by choosing each track manually). The price charged is the same for albums as if all the tracks were purchased individually. 

Management is considering changing their purchasing strategy to save money by only purchasing the most popular tracks from each album from record companies instead of the whole album. The next task is to figure out what percentage of purchases are individual tracks vs whole albums, so that management can understand the effect of what will happen if they decide to change their purchasing strategy.

In [11]:
#Categorizing invoices as either track or album purchase

In [12]:
%%sql

WITH album_invoice AS   (
    SELECT 
        il.invoice_id,                                     
        t.album_id
    FROM invoice_line il
    LEFT JOIN track t ON t.track_id = il.track_id
    GROUP BY 1
),

     album_or_tracks AS (
         SELECT ai.*,
             CASE
                 WHEN (
                     SELECT il.track_id 
                     FROM invoice_line il
                     WHERE il.invoice_id = ai.invoice_id
                     EXCEPT                                          
                     SELECT t.track_id 
                     FROM track t
                     WHERE t.album_id = ai.album_id) IS NULL
                             
                 AND (
                     SELECT t.track_id 
                     FROM track t
                     WHERE t.album_id = ai.album_id                                         
                     EXCEPT                                          
                     SELECT il.track_id 
                     FROM invoice_line il
                     WHERE il.invoice_id = ai.invoice_id) IS NULL
                                   
              THEN "Albums"
              ELSE "Tracks"
              END AS invoice_type                             
              FROM album_invoice ai
     )
                           
SELECT invoice_type,
       COUNT(*) num_invoices,
       ROUND(COUNT(*)*100 / (SELECT COUNT(*) FROM invoice), 2) percent_of_invoice
FROM album_or_tracks
GROUP BY 1

Done.

[('Albums', 114, 18.0), ('Tracks', 500, 81.0)]

From the results we see that customers typically purchase more individual tracks. Usually an album will contain at least around 10 tracks, so profitwise, the album purchases would result into more profit. Also, there is a certain joy where listening throughout the whole album in the correct order to get a sense of artistic feel where individual tracks do not. Based on these reasons, Chinook should continue to purchase full albums from companies.

# Conclusion

We worked on a database that represented a digital media store and answered different possible questions that can be brought up in a real world setting. We analyzed different tables based on employees, countries, albums and invoices, and drew up conclusions based on what we found. Moving forward, other possible questions to answer are:

- Which artist is used in the most playlists?
- How many tracks have been purchased vs not purchased?
- is the range of tracks int he store reflective of their sales popularity?
- Do protected vs non-protected media types have an effect on popularity?